<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="WebsiteHttpFullPath" value="http://ivanov.63bits.com/"/>
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <!--<add name="DBConnectionString" connectionString="Data Source=SE38ACCU8241;Initial Catalog=IvanovWebsite;Persist Security Info=True;User ID=sa;Password=9" providerName="System.Data.SqlClient" />-->
    <add name="DBConnectionString" connectionString="Data Source=venera.rdb.superhosting.bg;Initial Catalog=bezposok_website;Persist Security Info=True;User ID=bezposok_admin;Password=C673d154d0e49A" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>