<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Core.Properties.Settings.IvanovWebsiteConnectionString" connectionString="Data Source=srv63bits;Initial Catalog=IvanovWebsite;Persist Security Info=True;User ID=sa;Password=9" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
